
#contenedor{
	/*background-color: #e9ffa7;*/
	text-align: center;
	margin-right: 100px;
	margin-left: 100px;
}

#titulo{
	margin: 20px;
}

#menu{
	background-color: #D3CFCF;
	float: left; 
	width: 18%; 
	height: 400px ;
	margin: 20px;
	border-radius: 4px;
	margin: 5px;
	left: 20px;
}


.menu{
	background-color: #696969;
	text-align: center;
	height:29px;
	color: white;
	border-radius: 8px;
	margin: 7px;
}

#contenido{
	float: right; 
	width: 80%; 
	height: 500px;
	margin: 8px;
}

footer{
	background-color: #696969;
	clear: both;  
	display: block;
	margin: 20px;
	border-radius: 4px;
	margin: 5px;

}
body{
	background: url("../img/fondo3.png") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
